.green{
    position: relative;
    top: 50px;
}
.section4{
    margin-top: 200px;
    display: flex;
    text-align: center;
    gap: 75px;
    justify-content: center;
}
.green h1{
    font-size: 50px;
    font-weight: 400;
    color: #292F36;
    line-height: 125%;
}
.gren1{
    margin-bottom: 33px;
}
.green p{
    font-size: 22px;
    color: #292F36;
    line-height: 150%;
    font-weight: 400;
}
.image3{
    margin-top: 45px;
}