*{
    padding: 0;
    margin: 0;
    border: 0;
}
.main{
    background-image: url(../../assets/logo3.png);
    width: 100%;
    height: 1042px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 45PX;
}
.section1{
    padding-left: 360px;
   padding-top: 330px;
}
.section1 h1{
    font-size: 85px;
    font-weight: 400;
    color: #292F36;
    line-height: 125%;
    margin-bottom: 9px;
}
.section1 p{
    font-size: 22px;
    font-weight: 400;
    color: #292F36;
    line-height: 150%;
}
.button1{
    padding: 26px 48px;
    background-color: #292F36;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 18px;
    margin-top: 21px;
}