.navbar{
    display: flex;
    justify-content: space-around;
    padding: 43px 360px;
    align-items: center;
}
.navbar1{
    display: flex;
    gap: 45px;
    align-items: center;
}
.navbar1 li{
    list-style: none;
}
.navbar1 a{
    text-decoration: none;
    font-size: 20px;
    font-size: 400;
    color: #292F36;
    line-height: 125%;
}